
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


  <div class="col-md-12 user-container">
    
    <button class="btn btn-success"  style="margin-left: 760px;" (click)="addUser()">Novo Usuário</button>
    <button class="btn btn-primary" style="margin-left: 30px;" (click)="sendEmailAdmin()">Enviar E-mail *</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Data Criação</th>
        <th>Data Edição</th>
        <th>Admin</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.createDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
        <td>{{user.updateDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
        <td>{{user.admin ? "SIM":"NÃO"}}</td>
        <td>
          <button class="btn btn-danger"  (click)="deleteUser(user)" >Remover</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;">Editar</button>
          <button class="btn btn-primary" (click)="sendEmail(user)" style="margin-left: 20px;">Enviar E-mail</button>
        </td>
      </tr>
      </tbody>
    </table>
    
  </div>